body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    height: 10vh;
}

.excluirBtn {
    background-color:darkgreen;
    border: 1px white solid;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    margin-right: 20px;  
    color: white;
    font-size: 1.3rem;
    font-weight: bold; 
    cursor: pointer;
}

.excluirBtn:hover{
    text-decoration: underline;
}

.bemVindoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.bemVindo {
    margin: 0;
    font-size: 15rem;
}

.logoutBtn{
    background-color: rgb(202, 73, 73);
    border: 1px white solid;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    margin-right: 20px;  
    color: white;
    font-size: 1.3rem;
    font-weight: bold; 
    cursor: pointer;
    margin-left: 20px;
}

.logoutBtn:hover{
    text-decoration: underline;
}

