body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    height: 10vh;
}

.excluirBtn {
    background-color: red;
    border: 1px white solid;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    margin-right: 20px;  
    color: white;
    font-size: 1.3rem;
    font-weight: bold; 
    cursor: pointer;
}

.excluirBtn:hover{
    text-decoration: underline;
}

.editarBtn {
    background-color: rgb(8, 175, 241);
    color: white;
    border: 1px white solid;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.editarBtn:hover{
    text-decoration: underline;
}

.bemVindoContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bemVindo {
    margin: 0;
    font-size: 15rem;
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: none;
}

.Content{
    border: black 5px solid;
    margin: auto;
    margin-top: 40vh;
    max-height: 80%;
    max-width: 50%;
    width: 50vw;
    height: 20vh;
    background-color: #eee;
    overflow-y: scroll;
    box-shadow: 0 0 5px #fff;
    border-radius: 30px;
}

.modalContent {
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.spanExcluir{
    color: black;
    font-size: 1.7rem;
}

.aceitarBtn {
    width: 13vw;
    border-radius: 10px;
    height: 5vh;
    cursor: pointer;  
    font-size: 1.3rem;
    font-weight: bold;
}

.aceitarBtn:hover{
    text-decoration: underline;
}

.fecharModalBtn {
    width: 13vw;
    border-radius: 10px;
    height: 5vh;
    cursor: pointer;  
    font-size: 1.3rem;
    font-weight: bold;
}

.fecharModalBtn:hover{
    text-decoration: underline;
}

.logoutBtn{
    background-color: green;
    border: 1px white solid;
    border-radius: 10px;
    width: 15%;
    height: 50px;
    margin-right: 20px;  
    color: white;
    font-size: 1.3rem;
    font-weight: bold; 
    cursor: pointer;
    margin-left: 20px;
}

.logoutBtn:hover{
    text-decoration: underline;
}