.BodyCadastro {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.cadastroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

#nomeLabel {
    font-size: 1.7rem;
    color: white;
}

#nomeInput {
    width: 22%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3px;
}

#senhaLabel {
    font-size: 1.7rem;
    color: white;
}

#senhaInput {
    width: 22%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3px;
}

#emailLabel {
    font-size: 1.7rem;
    color: white;
}

#emailInput {
    width: 22%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3px;
}

#emailInput::placeholder {
    padding-left: 10px;
}

#cpfLabel {
    font-size: 1.7rem;
    color: white;
}

#cpfInput {
    width: 22%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3px;
}

#cpfInput::placeholder {
    padding-left: 10px;
}

#telefoneLabel {
    font-size: 1.7rem;
    color: white;
}

#telefoneInput {
    width: 22%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3px;
}

#telefoneInput::placeholder {
    padding-left: 10px;
}

#enderecoLabel {
    font-size: 1.7rem;
    color: white;
}

#enderecoInput {
    width: 22%;
    border-radius: 10px;
    height: 15%;
    margin-bottom: 3px;
}

.avisoTermos{
    color: #E9B425;
    font-size: 1.2rem;
}

#botaoCadastro {
    width: 20vw;
    border-radius: 10px;
    height: 7vh;
    cursor: pointer;  
    font-size: 1.5rem;
    font-weight: bold;
}

.termosUso {
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 20px;
    font-size: 1.3rem;
    cursor: pointer;
    color: #E9B425;
}

.termosUsoBox{
    margin-top: 20px;
}

.termosUso:hover{
    text-decoration: underline;
}

.modal {
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    display: none;
}

.termosContent{
    border: black 5px solid;
    margin: auto;
    margin-top: 39px;
    max-height: 80%;
    max-width: 50%;
    padding: 0 3% 3% 3%;
    background-color: #eee;
    overflow-y: scroll;
    box-shadow: 0 0 5px #fff;
}

#spanTermosUso{
    color: black;
    font-size: 1.5rem;
}

#termosCheckbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.checkBox {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.fecharModal {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.btnFechaModal {
    width: 10vw;
    border-radius: 10px;
    height: 4vh;
    cursor: pointer;  
    font-size: 1rem;
    font-weight: bold;
}