.bodyEditar {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.editarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

#nomeLabel {
    font-size: 2rem;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

#nomeInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 1rem;
    background-color: #33383D;
    border-color: #ffffff;
    color: white;
    padding-left: 5px;
}

#emailLabel {
    font-size: 2rem;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

#emailInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom:10px;
    padding-left: 5px;
    font-size: 1rem;
    background-color: #33383D;
    border-color: #ffffff;
    color: white;
    padding-left: 5px;
}

#cpfLabel {
    font-size: 2rem;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

#cpfInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom:10px;
    padding-left: 5px;
    font-size: 1rem;
    background-color: #33383D;
    border-color: #ffffff;
    color: white;
    padding-left: 5px;
}

#telefoneLabel {
    font-size: 2rem;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

#telefoneInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom:10px;
    padding-left: 5px;
    font-size: 1rem;
    background-color: #33383D;
    border-color: #ffffff;
    color: white;
    padding-left: 5px;
}


#enderecoLabel {
    font-size: 2rem;
    color: white;
    margin-bottom: 2px;
    margin-top: 2px;
}

#enderecoInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom:20px;
    padding-left: 5px;
    font-size: 1rem;
    background-color: #33383D;
    border-color: #ffffff;
    color: white;
    padding-left: 5px;
}

#botaoEditar {
    width: 20vw;
    border-radius: 30px;
    height: 7vh;
    cursor: pointer;  
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#botaoVoltar{
    width: 20vw;
    border-radius: 30px;
    height: 7vh;
    cursor: pointer;  
    font-size: 1.5rem;
    font-weight: bold;
}





