.containerTable{
    display: flex;
}

table,td, th{
    border: 1px black solid;
    border-collapse: collapse;
    padding: 10px;
}

.excluir{
    background: blue;
    color: white;
    font-size: 1.3rem;
}

.excluir:hover {
    text-decoration: underline;
    cursor: pointer;
}