.BodyLogin {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #33383D inset;
  }

#emailLabel {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

#emailInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom: 10px;
    background-color: #33383D;
    color: white;
    border-color: #ffffff;
    font-size: 1.1rem;
    padding-left: 5px;
}

#senhaLabel {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

#senhaInput {
    width: 30%;
    border-radius: 20px;
    height: 8%;
    margin-bottom: 25px;
    background-color: #33383D;
    color: white;
    border-color: #ffffff;
    font-size: 1.1rem;
    padding-left: 5px;
}


#botaoLogin {
    width: 20vw;
    border-radius: 10px;
    height: 7vh;
    cursor: pointer;  
    font-size: 1.7rem;
    font-weight: bold;
    background-color: #33383D;
    border-color: white;
    color: white;
}

#botaoLogin:hover {
    font-size: 1.9rem;
    border-color: white;
    color: white;   
}

#cadastro {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #E9B425;
    text-decoration: none;
}

#cadastro:hover {
    text-decoration: underline;
}


